[submodule "frontend"]
	path = frontend
	url = https://github.com/MichalMiekina/AI-traffic-lights.git
[submodule "backend"]
	path = backend
	url = https://github.com/MellerB/AI-traffic-lights-backend.git
